<html>
    <style>
        .myButton{
            color:blue;
            font-size: 2500 px;
            
        }
    </style>
    <head>
            <title> Home - Asset management  </title>

    </head>
    <body>
                     
        <p>
            Click <a href="https://google.com"> here </a> to go to Google.com
            </p>
                Acesta ar fi un buton
                <div class="myButton">
              <p align="center">Lista de linkuri
               <li><a href="https://google.com"><button type="myButton">Google</button></a></li>
                  <li><a href="https://facebook.com">Facebook</a></li>
                    <li><a href="https://weschools.com">W3schools</a></li>
                    </p>
                    
                </div>
        </body>
</html>