<html>
    <head>
        <title>Login - Asset management </title>


        </head>

        <body>
            <center>
            <form>
                <h1> Please sign in </h1>
                <label>Email address: </label>
                <input type="email"> 
                <br><br>
                <label>Password: </label>
                <input type="password">
                <br><br>
                <button>Sign in</button>
                <br><br>
                <a href="/register"> Create an account </a>
            </form>
            </center>
        </body>

</html>